@font-face { font-family: "Starjedi";
src: url(../fuentes/Starjedi.ttf);}
@font-face { font-family: "clarita";
src: url(../fuentes/Starjout.ttf);}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Comforter+Brush&family=Dancing+Script&display=swap');


body {background: url(https://thumbs.gfycat.com/HauntingFilthyAmericanbobtail-size_restricted.gif);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;}

  .titulo {font-family: clarita;
  color: white;
font-size: 80px;
text-align: center;}

div {text-align: ;
    height: 300px;
    margin: 1%;
    width: 25%;}
